DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
NEXT_PUBLIC_DEFAULT_CITY=Самара
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_SUPPORT_EMAIL=admin@tambudu.ru
MOBILE_SERVER_URL=http://localhost:3000
